/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}

.accordion {
  /*border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;*/
  margin-left: 10px;
}

.accordion__item + .accordion__item {
  /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
}

.accordion__item--has-icon {
  position: relative;
}

.accordion__title {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
}



.accordion__title:hover {
  background-color: #ddd;
}

.accordion__body {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
  display: none;
  opacity: 0;
  animation: fadein 0.35s ease-in;
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
  margin-bottom: 0;
}

.accordion__arrow {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
  display: block;
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: currentColor;
  content: '';
}

.accordion__arrow::before {
  left: 4px;
  transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before {
  transform: rotate(-45deg);
}

.accordion__arrow::after {
  right: 4px;
  transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after {
  transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes move-down {
  0% {
      transform: translateY(0);
  }
  10% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(5px);
  }
  30% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes move-up {
  0% {
      transform: translateY(0);
  }
  10% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(-5px);
  }
  30% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}

.accordion__title--animated:hover .accordion__arrow {
  animation-name: move-down;
  animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
  animation-name: move-up;
  animation-duration: 1.5s;
}




/* custom */

.dashboard-wrapper {
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.accordion-title {
  border-radius: 7px;
  color: #000;
  cursor: pointer;
  padding: 18px;
 /* width: 100%;*/
  text-align: left;
  border: none;
  margin: 1%;
  transition-duration: 0.3s;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 1px solid rgb(148, 146, 146);
  
}

.accordion-title:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

.without-outages {
  /*background-color: #51ff00;*/
  /*background: linear-gradient(-90deg, #51ff0054, #51ff00);*/
  
}

.without-outages:hover {
  background-color: #4be205dc;

}


.with-outages {
  /*background-color: #ff0000;*/
  background: linear-gradient(-90deg, #ff00005d, #ff0000de);
}

.with-outages:hover {
  background-color: #e00000;
}

.with-suspicious {
  background-color: #ffd900;
  background: linear-gradient(-90deg, #ffd90054, #ffd900);

}

.with-suspicious:hover {
  background-color: #ffc400;
}

.organization-title {
  display: flex;
  padding-left: 5%;
}

.organization-name {
  margin-left: 0%;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 17%;
}

.organization-operations-status {
  text-align: center;
  min-width: 14%;
  margin: auto;

}

.operation-title {
  display: flex;
  padding-left: 5%;
}

.operation-name {
  margin-left: 0%;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 20%;
}

.operation-status {
  text-align: center;
  width: 14%;
  margin: auto;
}

.operations-modules {
  display: flex;
  text-align: center;
  margin: auto;
  width: 30%;
}

.device-title {
  display: flex;
  padding-left: 5%;
  margin: auto;
  
}

.device-name {
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 25%;
}

.device-status {
  text-align: center;
  width: 25%;
  margin: auto;
}


.app-bar {
  height: 70px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #3646b3;
  display: flex;
  flex-direction: row;
}

.app-title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  color: beige;
  font-size: 2rem;
  font-weight: 700;
  
}

.logout-button {
  color: beige;
  background-color: #3646b3;
  font-size: 1.8rem;
  font-weight: 700;
  align-self: auto;
  width: 100px;
  border: hidden;
  margin-left: 77%;
}