.login-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-wrapper {
  width: 400px;
  padding: 30px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

.header-wrapper {
  color: #1976d2;
  text-align: center;
  padding: 10px 0 20px;
  font-size: 20px;
}

.login-error-msg {
  padding: 7px 0;
  margin: 10px 0;
  text-align: center;
  background-color: #ffdfdf;
  color: #f00;
  border: 1px solid #ffb6b6;
  border-radius: 2px;
}

.login-button-wrapper {
  margin-top: 20px;
}
